html, body {
  margin: 0;
}

#container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#crew {
  display: flex;
  flex-direction: space-between;
}
